table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

td, th {
    padding: 10px 30px;
}


td {
    text-align: center;
}

thead {
    border-bottom: 1px solid;
}

tbody {
    font-size: 1rem;
}

tr {
    position: relative;
}

.description {
    text-align: start;
}


  